@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables.scss';
@import 'base/mixins.scss';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.3s all ease;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/text.scss';
@import 'blocks/elements.scss';
@import 'blocks/sidepanel.scss';
@import 'blocks/promo.scss';
@import 'blocks/menu.scss';
@import 'blocks/about.scss';
@import 'blocks/experience.scss';
