.skills {
    background: #000916;
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 45px;
        row-gap: 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &__title {
        padding-left: 14px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
    }
    &__percentage {
        position: relative;
        &_max, &_actual {
            width: 100%;
            height: 1em;
            background: $grey;
            border-radius: 4px;
        }
        &_actual {
            position: absolute;
            background: $orange;
            top: 0;
            left: 0;
        }
        
    }
}